.crypto-asset{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buynsell{
    display: flex;
    width: 100%;
    padding: 5%;
}

.buynsell > div:nth-child(1){
    flex:0 0 50%;
    align-self: center;
    
}
.buynsell > div:nth-child(1) > div{
    width: 100%;
   
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-top: 20px;
    
}
.buynsell > div:nth-child(2){
    flex:0 0 50%;
    background-color: #fff;
}

.buynsell > div:nth-child(2) >  img{
    width: 100%;
}
.tradewithjupitTitle{
    font-size: 30px;
    font-family: 'Montserrat',sans-serif;
}
.tradewithjupit{
    font-size: 16px;
    
    font-family: 'Montserrat',sans-serif;
}
.mostused{
    width: 100%;
    min-height: 50vh;
    padding: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #f5f7fb;
}
.mosttrusted{
    font-size: 25px;
    font-family: 'Montserrat',sans-serif;
}
.smallTalk{
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
    color: #838383;
}
.whychooseus{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.whychooseus >div{
    flex: 1 1 calc(25% - 20px);
    padding: 20px;
}

.transaction{
    color:#000;
    font-family: 'Montserrat',sans-serif;
    
    
}
.transaction-text{
    color:#000;
    margin-top: 10px;
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
}
.transaction-img > img{
    width: 20%;
    margin-bottom: 10px;
}

.your-crypto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
    width: 100%;
    min-height: 70vh;
    height: 100%;
    
}

.laptopDiv{
    display: flex;
    flex-direction: column;
    height: 100%;   
}


.laptopDiv > div:nth-child(1){
    
   background:url('../../images/laptop.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 100vh;
   
}
.spotlight{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.SportlightDiv{
    display: flex;
    font-size: 25px;
    font-family: 'Montserrat',sans-serif;
    width: 50%;
    justify-content: center;
    margin-bottom: 10px;
    
    
}
.SportlightDiv> div:nth-child(1){
    flex:1 1 20%;
    justify-content: center;
    align-items: center;
    
}
.SportlightDiv> div:nth-child(2){
    flex:1 1 80%;
    text-align: left;
}
.check{
    margin-right: 10px;
    align-self: center;
}
.Yourcrypto{
    font-size: 25px;
    font-family: 'Montserrat',sans-serif;
}

.YourcryptoText{
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
}
.whatyoucando{
    width: 100%;
    background-color: #f5f7fb;
    min-height: 100vh;
    height: 100%;
    padding: 5%;
}

.whatyoucando_title{
    font-family: 'Montserrat',sans-serif;
    font-size: 25px;
}

.getStarted{
    margin-top: 50px;
}

.createAccount{
    padding: 5%;
    display: flex;
    justify-content: space-between;

}
.createAccount> div{
    font-family: 'Montserrat',sans-serif;
}

.hr{
    width: 20%;
    border: 1px solid #1c1c93;
    background-color: #1c1c93;
}
.acctImage{
    width: 20%;
}
.acctImageText{
    margin-top: 10px
}