
.whatis{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding:30px;
    padding-left: 5%;
}
.whatis > div{
    flex:0 0 calc(50% - 20px);
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.whatis > img{
    margin-top: 20px;
    
}
.jupitTitle{
    font-family: 'Montserrat',sans-serif;
    font-size: 25px;
    text-align: left;

}
.jupittext{
    font-size: 16px;
   
    margin-top: 7%;
    text-align: start;
    font-family: 'Montserrat',sans-serif;
}
.jupitBuilt{
    width: 100%;
    min-height: 100vh;
    height: 100%;
    padding: 40px;
    background: url('../../images/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.largeOrders{
    font-family: 'Montserrat',sans-serif;
    font-size: 25px;
}
.ourOTCtitle{
    font-size: 14px;
    font-family: 'Montserrat',sans-serif;
    color: #848484;
    margin-top: 10px;
}
.tradeType{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
   

}
.tradeType > div{
    flex: 1 1 calc(40% - 20px);
    /* background-color: #848484; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.moreFacts> div:nth-child(2){
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
    margin-top: 10px;
}
.moreFacts> div:nth-child(3){
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
    margin-top: 10px;
    color: #838383;
}
.moreFacts{
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.inadditonal > div{
    font-size: 20px;
    font-family: 'Montserrat',sans-serif;
}
.checks{
    display: flex;
    justify-content: space-around;
    
}
.tradeflow{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: #fff;
    margin-top: 50px;
    
}
.tradeflow > div:nth-child(1){
    
    
}
.tradeflow > div:nth-child(2){
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.tradeflow > div:nth-child(1){
    flex:1 1 40%;
    
}
.tradeflow > div:nth-child(2){
    flex:1 1 70%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}
.ourtradeflow{
    font-family: 'Montserrat',sans-serif;
    font-size: 25px;
}

.checks > div{
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
    
}
.checks > div>div{
    margin-top: 10px;
}

.signup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 30px;

}
.signup > div:nth-child(2){
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
   
    width: 80%;
    margin-left: 20px;
}
.signupTitle{
    font-size: 18px;
    font-family: 'Montserrat',sans-serif;
}
.signupmessage{
   text-align: left;
   margin-top: 10px;
   font-family: 'Poppins',sans-serif;
   
    
}