.section7{
    width: 100%;
    min-height: 80vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding:5%;
    
}

.section7 > div{
    flex:1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.section7 >div:nth-child(1){
    width: 100%;
   
}
.section7 >div:nth-child(2){
    width: 100%;
    
}
.section7 >div:nth-child(2) img{
    width: 100%;
    
}
.bestService{
    font-size: 40px;
    font-family: 'Montserrat'sans-serif sans-serif;
    font-weight: bold;
    color: #1D2D3F;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}
.startJourney{
    font-size: 20px;
    font-family: 'Montserrat'sans-serif;
    text-align: justify;
    width: 90%;
    margin-top: 20px;
    color: #848484;
   
}

.instantTransaction{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Montserrat'sans-serif;
    
    
}

.instantTransaction>div{
    flex:1 1 50%;
    margin-bottom: 20px;
    font-family: 'Montserrat' sans-serif;
}

@media only screen 
and (min-device-width: 100px) 
and (max-device-width: 200px)
and (-webkit-min-device-pixel-ratio: 2) {

        .section7{
            margin-top: 0px;
            flex-direction: column;
            width: 100%;
            min-height: 30vh;
            height: 100%;
        }

        .bestService{
            font-size: 16px;
            text-align: center;
        }
        .startJourney{
            font-size: 12px;
        }
        .instantTransaction{
            flex-direction: column;
        }
        .instantTransaction>div{
            flex:1 1 100%;
            margin-bottom: 20px;
            font-size: 10px;
            font-family: 'Montserrat' sans-serif;
        }

      
}

@media only screen 
and (min-device-width: 201px) 
and (max-device-width: 300px)
and (-webkit-min-device-pixel-ratio: 2) {
    .section7{
        margin-top: 0px;
        flex-direction: column;
        width: 100%;
        min-height: 30vh;
        height: 100%;
    }

    .bestService{
        font-size: 16px;
        text-align: center;
    }
    .startJourney{
        font-size: 12px;
    }
    .instantTransaction{
        flex-direction: column;
    }
    .instantTransaction>div{
        flex:1 1 100%;
        margin-bottom: 20px;
        font-size: 12px;
        font-family: 'Montserrat' sans-serif;
    }
    .section7 >div:nth-child(2) > img{
        width: 100%;
    }
}


@media only screen 
and (min-device-width: 301px) 
and (max-device-width: 600px)
and (-webkit-min-device-pixel-ratio: 2) {
    .section7{
        margin-top: 0px;
        flex-direction: column;
        width: 100%;
        min-height: 30vh;
        height: 100%;
    }

    .bestService{
        font-size: 20px;
        text-align: center;
    }
    .startJourney{
        font-size: 14px;
    }
    .instantTransaction{
        flex-direction: column;
    }
    .instantTransaction>div{
        flex:1 1 100%;
        margin-bottom: 20px;
        font-size: 14px;
        font-family: 'Montserrat' sans-serif;
    }
    .section7 >div:nth-child(2) > img{
        width: 100%;
    }
}


@media only screen 
and (min-device-width: 601px) 
and (max-device-width: 700px)
and (-webkit-min-device-pixel-ratio: 2) {
    .section7{
        width: 100%;
        min-height: 80vh;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding:5%;
        
    }
    
    .section7 > div{
        flex:1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .section7 >div:nth-child(1){
        width: 100%;
       
    }
    .section7 >div:nth-child(2){
        width: 100%;
        
    }
    .section7 >div:nth-child(2) img{
        width: 100%;
        
    }
    .bestService{
        font-size: 25px;
        font-family: 'Montserrat'sans-serif sans-serif;
        font-weight: bold;
        color: #1D2D3F;
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }
    .startJourney{
        font-size: 16px;
        font-family: 'Montserrat'sans-serif;
        text-align: justify;
        width: 90%;
        margin-top: 20px;
        color: #848484;
       
    }
    
    .instantTransaction{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        margin-top: 20px;
        font-size: 16px;
        font-family: 'Montserrat'sans-serif;
        
        
    }
    
    .instantTransaction>div{
        flex:1 1 50%;
        margin-bottom: 20px;
        font-family: 'Montserrat' sans-serif;
    }
}


@media only screen 
and (min-device-width: 701px) 
and (max-device-width: 900px)
and (-webkit-min-device-pixel-ratio: 2) {
    .section7{
        width: 100%;
        min-height: 80vh;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: row;
        padding:5%;
        
    }
    
    .section7 > div{
        flex:1 1 50%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .section7 >div:nth-child(1){
        width: 100%;
       
    }
    .section7 >div:nth-child(2){
        width: 100%;
        
    }
    .section7 >div:nth-child(2) img{
        width: 100%;
        
    }
    .bestService{
        font-size: 30px;
        font-family: 'Montserrat'sans-serif sans-serif;
        font-weight: bold;
        color: #1D2D3F;
        width: 100%;
        text-align: left;
        margin-top: 10px;
    }
    .startJourney{
        font-size: 18px;
        font-family: 'Montserrat'sans-serif;
        text-align: justify;
        width: 90%;
        margin-top: 20px;
        color: #848484;
       
    }
    
    .instantTransaction{
        display: flex;
        flex-wrap: wrap;
        text-align: left;
        margin-top: 20px;
        font-size: 18px;
        font-family: 'Montserrat'sans-serif;
        
        
    }
    
    .instantTransaction>div{
        flex:1 1 50%;
        margin-bottom: 20px;
        font-family: 'Montserrat' sans-serif;
    }
}