@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
.section2{
    width:100%;
    min-height: 50vh;
    height: 100%;
    display: flex;
    justify-content:center;
    margin-top:150px;

}
.statement{
    width: 100%;
    margin-right: 90px;
    margin-left: 90px;
    display: flex;
    flex-wrap: wrap;
    


}
.statement > div:nth-child(1){
    flex: 1 1 30%;
    text-align: left;
}
.statement > div:nth-child(2){
    flex: 1 1 60%;
    padding-left: 30px;
  
}
.wemakecrypoeasy{
    font-family: Inter;
    font-size: 42px;
    font-weight: bold;
    color: #1D2D3F;
}
.specific{
    margin-top: 20px;
    color: #848484;
    font-family: Inter;
    font-size: 16px;
}

.specificIcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
    
}
.specificIcon > div{
    flex: 1 1 calc(50% - 20px);
    margin: 10px;
    height: 100px;
    display: flex;

}

.side{
    display: flex;
}

.side > div:nth-child(2){
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    
}
.securestorage{
    color:#1D2D3F;
    font-family: Inter;
    font-weight: bold;
}
.We_store{
    margin-top: 25px;
    font-size: 14px;
    width: 90%;
}
