@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
.section1{
    width:100%;
    min-height: 50vh;
    height: 100%;
    display: flex;
    justify-content:center;
    margin-top:250px;
  
 
}

.globeSession{
    width: 100%;
    margin-right: 90px;
    margin-left: 90px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
    
}

.globeSession > div{
    flex: 1 1 50%;
}

.globeSession > div:nth-child(2){
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}
.globe > img{
    width: 70%;
}
.gateway{
    color:#FFB74A;
    font-family: 'Montserrat'sans-serif;
    
}
.gatewayText{
    color:#1D2D3F;
    font-size: 40px;
    text-align: left;
    font-weight: bolder;
    font-family: 'Montserrat'sans-serif;
    width: 90%;
    
}
.getitnow{
    margin-top: 30px;
}

.getitnowBtn{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color: #1c1c93;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEFDFF;
    margin-top: 20px;
    cursor: pointer;
}

.BCQparent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
  
}
.Institution{
    width: 90%;
    font-family: 'Montserrat'sans-serif;
    font-size: 20px;
    color: #848484;
    text-align: justify;
    margin-top: 40px;
}

@media only screen 
and (min-device-width: 100px) 
and (max-device-width: 200px)
and (-webkit-min-device-pixel-ratio: 2) {

    .section1{
        margin-top: 0px;
        padding: 40px;
       
    }

    .globeSession{
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
    }
    .gateway{
        font-size: 14px;
    }
    .gatewayText{
        width: 100%;
        text-align: center;
        font-size: 16px;
        margin-top: 10px;
    }
    .Institution{
        width: 90%;
        font-family: 'Montserrat'sans-serif;
        font-size: 14px;
        color: #848484;
        text-align: center;
        margin-top: 40px;
        
    }

    

    .getitnowBtn{
        width: 150px;
        height: 50px;
        border-radius: 5px;
        background-color: #1c1c93;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FEFDFF;
        margin-top: 20px;
        cursor: pointer;
    }
}

@media only screen 
and (min-device-width: 201px) 
and (max-device-width: 300px)
and (-webkit-min-device-pixel-ratio: 2) {
    .globe{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .globe > img{
        width: 100%;

    }
    .getitnow{
        margin-top: 10px;
       
        
    }
    
    .section1{
        width:100%;
        min-height: 40vh;
        height: 100%;
        display: flex;
        justify-content:center;
        
        margin-top:0px;
       
    }
    
.getitnowBtn{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    background-color: #1c1c93;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FEFDFF;
    margin-top: 20px;
    cursor: pointer;
    
   
}

    .gateway{
        font-size: 12px;
        width: 100%;
    }
    .gatewayText{
        color:#1D2D3F;
        font-size: 16px;
        text-align: center;
        font-weight: bolder;
        font-family: 'Montserrat'sans-serif;
        width: 100%;
        margin-top: 10px;
        
    }
    .Institution{
        width: 100%;
        font-family: 'Montserrat'sans-serif;
        font-size: 12px;
        color: #848484;
        text-align: left;
        margin-top: 20px;
       
    }
    .globeSession{
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
       
        
    }
}

@media only screen 
and (min-device-width: 301px) 
and (max-device-width: 400px)
and (-webkit-min-device-pixel-ratio: 2) {
    .globe{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .globe > img{
        width: 100%;
    }
   
    .section1{
        width:100%;
        min-height: 50vh;
        height: 100%;
        display: flex;
        justify-content:center;
        
        margin-top:-350px;
      
       
    }

    .gateway{
        font-size: 12px;
        width: 100%;
    }
    .gatewayText{
        color:#1D2D3F;
        font-size: 16px;
        text-align: center;
        font-weight: bolder;
        font-family: 'Montserrat'sans-serif;
        width: 100%;
        margin-top: 10px;
        
    }
    .Institution{
        width: 100%;
        font-family: 'Montserrat'sans-serif;
        font-size: 12px;
        color: #848484;
        text-align: left;
        margin-top: 20px;
       
    }
    .globeSession{
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
       
        
    }
}

@media only screen 
and (min-device-width: 401px) 
and (max-device-width: 500px)
and (-webkit-min-device-pixel-ratio: 2) {
    .globe{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .globe > img{
        width: 100%;
    }
   
    .section1{
        width:100%;
        min-height: 50vh;
        height: 100%;
        display: flex;
        justify-content:center;
        margin-top:-400px;
        padding: 20px;
         
    }

    .gateway{
        font-size: 16px;
        width: 100%;
    }
    .gatewayText{
        color:#1D2D3F;
        font-size: 20px;
        text-align: center;
        font-weight: bolder;
        font-family: 'Montserrat'sans-serif;
        width: 100%;
        margin-top: 10px;
        
    }
    .Institution{
        width: 100%;
        font-family: 'Montserrat'sans-serif;
        font-size: 14px;
        color: #848484;
        text-align: left;
        margin-top: 20px;
       
    }
    .globeSession{
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
       
        
    }
}


@media only screen 
and (min-device-width: 501px) 
and (max-device-width: 600px)
and (-webkit-min-device-pixel-ratio: 2) {
    .globe{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .globe > img{
        width: 70%;
    }
   
    .section1{
        width:100%;
        min-height: 50vh;
        height: 100%;
        display: flex;
        justify-content:center;
        margin-top:-300px;
      
       
    }

    .gateway{
        font-size: 16px;
        width: 100%;
    }
    .gatewayText{
        color:#1D2D3F;
        font-size: 25px;
        text-align: center;
        font-weight: bolder;
        font-family: 'Montserrat'sans-serif;
        width: 100%;
        margin-top: 10px;
        
    }
    .Institution{
        width: 100%;
        font-family: 'Montserrat'sans-serif;
        font-size: 16px;
        color: #848484;
        text-align: left;
        margin-top: 20px;
       
    }
    .globeSession{
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: column;
       
        
    }
}

@media only screen 
and (min-device-width: 601px) 
and (max-device-width: 700px)
and (-webkit-min-device-pixel-ratio: 2) {
    .globe{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .globe > img{
        width: 90%;
    }
   
    .section1{
        width:100%;
        min-height: 50vh;
        height: 100%;
        display: flex;
        justify-content:center;
        margin-top:-200px;
      
       
    }

    .gateway{
        font-size: 25px;
        width: 100%;
    }
    .gatewayText{
        color:#1D2D3F;
        font-size: 25px;
        text-align: center;
        font-weight: bolder;
        font-family: 'Montserrat'sans-serif;
        width: 100%;
        margin-top: 10px;
        
    }
    .Institution{
        width: 100%;
        font-family: 'Montserrat'sans-serif;
        font-size: 18px;
        color: #848484;
        text-align: left;
        margin-top: 20px;
       
    }
    .globeSession{
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: row;
       
        
    }
}


@media only screen 
and (min-device-width: 701px) 
and (max-device-width: 900px)
and (-webkit-min-device-pixel-ratio: 2) {
    .globe{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .globe > img{
        width: 90%;
    }
   
    .section1{
        width:100%;
        min-height: 50vh;
        height: 100%;
        display: flex;
        justify-content:center;
        margin-top:-250px;
      
       
    }

    .gateway{
        font-size: 25px;
        width: 100%;
    }
    .gatewayText{
        color:#1D2D3F;
        font-size: 30px;
        text-align: center;
        font-weight: bolder;
        font-family: 'Montserrat'sans-serif;
        width: 100%;
        margin-top: 10px;
        
    }
    .Institution{
        width: 100%;
        font-family: 'Montserrat'sans-serif;
        font-size: 18px;
        color: #848484;
        text-align: left;
        margin-top: 20px;
       
    }
    .globeSession{
        width: 100%;
        margin-right: 10px;
        margin-left: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        flex-direction: row;
       
        
    }
}