@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
.section3{
    width:100%;
    min-height: 50vh;
    height: 100%;
    display: flex;
    justify-content:center;
    margin-top:150px;
    
}

.yourgateway{
    width: 100%;
    margin-right: 90px;
    margin-left: 90px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.yourgateway > div{
    flex:1 1 50%;
    
}

.yourgateway > div:nth-child(2){
    
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    
    
}
.yourgateway > div:nth-child(1) > img{
    
  width: 100%;
    
}
.yourgateway > div:nth-child(1){
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align:left;
    
}
.globaleconomy{
    font-size: 16px;
    color: #FFB74A;
}
.CryptoWallet{
    font-size: 42px;
    font-family: Inter;
    font-weight: bold;
    color: #1D2D3F;
}
.bitcoinuses{
    margin-top: 40px;
    width: 80%;
    font-size: 16px;
    font-family: Inter;
    color:#848484;
    text-align: justify;
}
.cardTestimonia{
    width:400px;
    margin: 10px;
    height: 250px;
    border-radius: 15px;
    background-color: #fff;
}
.item{
    background-color: #848484;
   
}

.installapp{
    width: 100%;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Montserrat' sans-serif;
}
.installprogress{
    font-family: 'Montserrat' sans-serif;
    font-size: 25px;
    font-weight: bold;
    padding-right: 5%;
}
.Install{
    display: flex;
    justify-content: space-between;
      
}
.Install > div{
    margin-bottom: 15px;
    font-family: 'Montserrat'sans-serif;
    font-weight: bold;
}

.mobiledevice{
    font-size: 25px;
}

.step{
    display: flex;
    font-size: 18px;
}
.step >div{
    margin-left: 5px;
}

@media only screen 
and (min-device-width: 100px) 
and (max-device-width: 200px)
and (-webkit-min-device-pixel-ratio: 2) {
    .section3{
        margin-top: 0px;

    }
   
    .Install{
        padding: 20px;
    }
    .installapp{
        font-size: 16px;
        text-align: center;
        margin-top: 20px;
    }
    .installprogress{
        font-size: 16px;
        text-align: center;
    }
    .Installapp{
        font-size: 12px;
    }
    .mobiledevice{
        font-size: 16px;
    }
    .step{
        font-size: 12px;
    }
   
}

@media only screen 
and (min-device-width: 201px) 
and (max-device-width: 300px)
and (-webkit-min-device-pixel-ratio: 2) {
    .section3{
        margin-top: 50px;
        

    }
    .Install{
        padding: 0px;
       
    }
    .installapp{
        font-size: 18px;
        text-align: center;
        margin-top: 20px;
       
    }
    .installprogress{
        font-size: 20px;
        text-align: center;
        padding-right: 0%;
        
    }
    .Installapp{
        font-size: 16px;
    }
    .mobiledevice{
        font-size: 18px;
    }
    .step{
        font-size: 14px;
    }
    .mobilephone{
        display: flex;
        width: 100%;
    }
    .yourgateway{
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        
        
    }
   
}


@media only screen 
and (min-device-width: 301px) 
and (max-device-width: 400px)
and (-webkit-min-device-pixel-ratio: 2) {
    .section3{
        margin-top: 50px;
        

    }
    .Install{
        padding: 0px;
       
    }
    .installapp{
        font-size: 25px;
        text-align: center;
        margin-top: 20px;
       
    }
    .installprogress{
        font-size: 18px;
        text-align: center;
        padding-right: 0%;
        
    }
    .Installapp{
        font-size: 18px;
    }
    .mobiledevice{
        font-size: 18px;
    }
    .step{
        font-size: 16px;
    }
    .mobilephone{
        display: flex;
        width: 100%;
    }
    .yourgateway{
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        
        
    }
   
}