@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
.section4{
    width:100%;
    min-height: 50vh;
    height: 100%;
    display: flex;
    justify-content:center;
    margin-top:150px;
}
.card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:90%;
    height: 400px;
    border-radius: 15px;
    background-color: #1c1c93;
    padding:40px;
       

}
.testimonia{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height:100px ;
    
}
.easiest{
    
    font-size: 42px;
    font-family: Inter;
    color: #fff;
}
.quote{
    display: flex;
    justify-content: flex-end;
}

.Comment{
    width: 100%;
    display: flex;
    justify-content: center;
    
    
    z-index: 1;

}
.mycard{
    width: 500px;
    height: 200px;
    border-radius: 10px;
    background-color: #fff;
    margin: 20px;
    top: -50px;
    z-index: 2;
    display: flex;
    justify-content: center;
    padding: 20px;
    
}
.clientName{
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    
}
.clientName > div:nth-child(1){
    flex: 1 1 20%;
}

.clientName > div:nth-child(2){
    flex: 1 1 80%;
    text-align: left;
    margin-left: 10px;
}
.name{
    color:#1D2D3F;
    font-family: Inter;
    font-size: 16px;
    font-weight: bold;
}
.country{
    font-size: 15px;
}

