@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500&display=swap');
.section2{
    width:100%;
    min-height: 50vh;
    height: 100%;
    display: flex;
    justify-content:center;
    margin-top:150px;
    
    

}
.statement{
    width: 100%;
    margin-right: 90px;
    margin-left: 90px;
    display: flex;
    flex-wrap: wrap;
    


}
.statement > div:nth-child(1){
    flex: 1 1 40%;
    text-align: left;
}
.statement > div:nth-child(2){
    flex: 1 1 50%;
    padding-left: 30px;
  
}
.wemakecrypoeasy{
    font-family: 'Montserrat'sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #1D2D3F;
}
.specific{
    margin-top: 20px;
    color: #848484;
    font-family: 'Montserrat'sans-serif;
    font-size: 20px;
}

.specificIcon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

}
.specificIcon > div{
    flex: 1 1 calc(50% - 20px);
    margin: 5px;
    height: 100px;
    display: flex;

}

.side{
    display: flex;
}

.side > div:nth-child(2){
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    
}
.securestorage{
    color:#1D2D3F;
    font-size: 20px;
    font-family: 'Montserrat'sans-serif;
    font-weight: bold;
}
.We_store{
    margin-top: 25px;
    font-size: 20px;
    width: 100%;
}

@media only screen 
and (min-device-width: 100px) 
and (max-device-width: 200px)
and (-webkit-min-device-pixel-ratio: 2) {
    .section2{
       
        margin-top:0;
    }
    .wemakecrypoeasy{
        text-align: center;
        font-size: 16px;
    }
    .specific{
        text-align: center;
        font-size: 16px;
    }
    .getitnow{
        display: flex;
        justify-content: center;
        align-items:center ;
    }
    .getitnowBtn{
        width: 150px;
    }
    .side{
        width: 100%;
        height: 100%;
        
    }
    .side > div:nth-child(2){
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        width: 100%;
        height: 100%;
        
    }
    .securestorage{
        font-size: 16px;
    }
    .We_store{
        font-size: 14px;
        margin-top: 15px;
    }
    .side>div:nth-child(1){
        display: flex;
        align-items: center;
        justify-items: flex-start;
        
    }
   

    .side>div:nth-child(1) > img{
        width: 70%;
    }

   
    .specificIcon > div{
        flex: 1 1 100%;
        margin: 10px;
        height: 200px;
   
        display: flex;
        flex-direction: column;

        
    }

    .statement{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        
    
    
    }
    

}


@media only screen 
and (min-device-width: 201px) 
and (max-device-width: 300px)
and (-webkit-min-device-pixel-ratio: 2) {
    .section2{
       
        margin-top:10px;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
        
    }
    .wemakecrypoeasy{
        text-align: center;
        font-size: 25px;
    }
    .specific{
        text-align: left;
        font-size: 18px;
    }
    .getitnow{
       text-align: left;
        
    }
    .getitnowBtn{
        width: 150px;
    }
    .side{
        width: 100%;
        height: 100%;
       
        
    }
    .side > div:nth-child(2){
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        width: 100%;
        height: 100%;
        
    }
    .securestorage{
        font-size: 14px;
    }
    .We_store{
        font-size: 12px;
    }
    .side > div:nth-child(1){
        display: flex;
        align-items: center;
        justify-items: flex-start;
        
    }
   

    .side>div:nth-child(1) > img{
        width: 70%;
    }
    .specificIcon{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 30px;
    
    }
    


   
    .specificIcon > div{
        flex: 1 1 100%;
        margin: 0px;
        margin-top: 20px;
        height: 200px;
        display: flex;
        flex-direction: column; 
    }

    .statement{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
    }
    .securestorage{
        font-size: 16px;
    }
    .We_store{
        font-size: 14px;
    }
    

}



@media only screen 
and (min-device-width: 301px) 
and (max-device-width: 500px)
and (-webkit-min-device-pixel-ratio: 2) {
    .section2{
       
        margin-top:10px;
        flex-direction: column;
        margin-right: 10px;
        margin-left: 10px;
        
    }
    .wemakecrypoeasy{
        text-align: center;
        font-size: 25px;
    }
    .specific{
        text-align: left;
        font-size: 18px;
    }
    .getitnow{
       text-align: left;
        
    }
    .getitnowBtn{
        width: 150px;
    }
    .side{
        width: 100%;
        height: 100%;
       
        
    }
    .side > div:nth-child(2){
        margin-left: 0px;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        width: 100%;
        height: 100%;
        
    }
    .securestorage{
        font-size: 16px;
    }
    .We_store{
        font-size: 14px;
    }
    .side > div:nth-child(1){
        display: flex;
        align-items: center;
        justify-items: flex-start;
        
    }
   

    .side>div:nth-child(1) > img{
        width: 100%;
        margin-right: 20px;
    }
    .specificIcon{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 30px;
    
    }
    


   
    .specificIcon > div{
        flex: 1 1 100%;
        margin: 0px;
        margin-top: 20px;
        height: 200px;
        display: flex;
        flex-direction: column; 
    }

    .statement{
        width: 100%;
        margin-right: 0px;
        margin-left: 0px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        margin-top: 20px;
    }
    .securestorage{
        font-size: 16px;
    }
    .We_store{
        font-size: 14px;
        margin-top: 0px;
    }
    

}


