@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.aboutus{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    
   
}

.whoweare > h1{
    color:#000;
    font-family: 'Montserrat',sans-serif;
    font-size: 50px;
}
.whoweare{
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 60%;
    font-family: 'Montserrat',sans-serif;
    min-height: 30vh;
    height: 100%;
    padding: 30px;
    margin-top: 40px;
}
.whoweare >p{
    text-align: left;
}

.ourmission{
    display: flex;
    width: 100%;
    align-items: flex-start;
    width: 100%;
    min-height: 30vh;
    height: 100%;
    margin-top: 40px;
    
}
.ourmission > div:nth-child(1){
    flex:1 1 60%;
}
.ourmission > div:nth-child(2){
    flex:1 1 40%;
}

.ourmission >div:nth-child(1){
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px;
    
}


.ourmission > div > h1{
    color:#000;
    font-family: 'Montserrat',sans-serif;
    font-size: 50px;
}
.ourmission >div:nth-child(1) > p{
    text-align: left;
    color: #000;
    font-family: 'Montserrat',sans-serif;
}

.logo{
    width: 80%;
}

.vision{
    margin-top:50px;
}
.ourmission >div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    
    min-height: 30vh;
    height: 100%;
    align-self: center
}
.ourmission >div:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
}
.ourmission >div:nth-child(2) > div >img{
    width: 50%;
}

