@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
.my_footer{
    width:100%;
    min-height: 50vh;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
   
}

.footerBg>img{
    width: 100%;
    margin-top: 0px;
}
.footerContent{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    
    
}

.userCount{
    font-family: 'Montserrat', sans-serif; 
    font-size: 40px;
    color: #fff;
}
.userText{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif; 
    color: #fff;

}
.whatareyou{
    width: 100%;
    font-size: 40px;
    font-family: 'Montserrat',sans-serif;
    color:#fff;
    margin-top: 8%;
}

.footerBtn{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    background-color: #FFA000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: 'Montserrat'sans-serif;
    margin-top: 20px;
}
                   
.footerInfor{
    width: 100%;
    display: flex;
    padding: 8%;
    margin-top: 30px;
}
.footerInfor>div:nth-child(1){
    flex:0 0 calc(50%- 20px);
    text-align: left;
    display: flex;
    flex-direction: column;
}
.footerInfor>div:nth-child(1)> div >img{
    width: 30%;
}
.footerInfor>div:nth-child(1)> small {
    font-size: 18px;
    color: #fff;
}
.quickLink{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-size: 14px;
   
    
}
.quickLink > div{
    flex:0 0 33.333%;
    margin: 10px;
}
.quickLinkDiv{
    margin-top: 40px;
    color: #fff;
    font-family: 'Montserrat',sans-serif;
    font-size: 18px;
}
